.card {
  position: relative;
  height: 250px;
  width: 350px;
  background: white;
  background-size: cover;
  color: white;
}

.card-image {
  position: absolute;
  height: 150px;
  top: 1px
}
.card-category {
  position: absolute;
  bottom: : 50px;
}
.card-description {
  position: absolute;
  bottom: 30px;
}
